In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])

ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [4]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value =0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [5]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])

In [6]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [9]:
ranger = range(15)

ranger

range(0, 15)

In [10]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [14]:
dframe = DataFrame(randn(25).reshape((5,5)),
                   index=['A','B','D','E','F'], 
                   columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  1.661604  0.426579 -0.701838  0.132041  0.181211
B -0.188604 -0.355657 -1.104516  0.474940  1.799208
D  1.435775 -0.279672 -0.249187  0.716126 -0.594736
E -0.031988 -0.363299 -0.647113 -2.222557 -0.333876
F -0.731251 -1.034799  0.252168 -0.530235 -0.449233

In [16]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  1.661604  0.426579 -0.701838  0.132041  0.181211
B -0.188604 -0.355657 -1.104516  0.474940  1.799208
C       NaN       NaN       NaN       NaN       NaN
D  1.435775 -0.279672 -0.249187  0.716126 -0.594736
E -0.031988 -0.363299 -0.647113 -2.222557 -0.333876
F -0.731251 -1.034799  0.252168 -0.530235 -0.449233

In [17]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [18]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  1.661604  0.426579 -0.701838  0.132041  0.181211   NaN
B -0.188604 -0.355657 -1.104516  0.474940  1.799208   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.435775 -0.279672 -0.249187  0.716126 -0.594736   NaN
E -0.031988 -0.363299 -0.647113 -2.222557 -0.333876   NaN
F -0.731251 -1.034799  0.252168 -0.530235 -0.449233   NaN

In [19]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  1.661604  0.426579 -0.701838  0.132041  0.181211   NaN
B -0.188604 -0.355657 -1.104516  0.474940  1.799208   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.435775 -0.279672 -0.249187  0.716126 -0.594736   NaN
E -0.031988 -0.363299 -0.647113 -2.222557 -0.333876   NaN
F -0.731251 -1.034799  0.252168 -0.530235 -0.449233   NaN